<ion-view title="About">
    <ion-content>
        <ion-list>
            <ion-item>
                An application built by Nemanja Bartolovic (FallenShard)
            </ion-item>
            <ion-item>
                Powered by
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-social-android balanced"></i>Android
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-social-angular assertive"></i>AngularJS
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-social-css3 positive"></i>CSS3
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-social-sass royal"></i>Sass
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-social-html5 assertive"></i>HTML5
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-social-javascript energized"></i>JavaScript
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-social-nodejs balanced"></i>Node.js
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
