<ion-view title="Mallpoint">
    <ion-content>

        <form name="loginForm" novalidate ng-submit="login()"
        class="row row-center responsive-md">
            <div class="col-50">
                <p class="text-center padding">
                    <img src="img/mallpoint-login.png" class="img-responsive" ng-click="serverConfig()"/>
                </p>
            </div>

            <div class="list col-50">

                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" required ng-model="user.email" placeholder="Your email">
                </label>

                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" required ng-model="user.password" placeholder="Your password">
                </label>

                <div class="padding">
                    <button type="submit" class="button button-block button-balanced"
                            ng-disabled="!loginForm.$valid">
                      Log In
                    </button>
                    <button class="button button-block button-assertive" ui-sref="register"
                            ng-disabled="!connection.active">
                      Register
                    </button>
                </div>
            </div>

        </form>
    </ion-content>
</ion-view>
