<ion-view title="Mallpoints">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-search" ng-click="search()">
        </button>
    </ion-nav-buttons>

    <!-- <search-bar></search-bar> -->

    <ion-content class="has-header" data-tap-disabled="true">
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <div class="button-bar">
            <button class="button button-clear" ng-click="takePicture()"><i class="icon ion-search"></i></button>
            <img id="myTestImage" src="./img/ionic.png"></img>
            <button id="debug" class="button button-clear">Debugging</button>
        </div>
    </ion-footer-bar>
</ion-view>
