<ion-view title="Mallpoints">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-search" ng-click="search()">
        </button>
        <button class="button button-icon icon ion-refresh" ng-click="clearSearch()">
        </button>
    </ion-nav-buttons>

    <!-- <search-bar></search-bar> -->

    <ion-content class="has-header" data-tap-disabled="true">
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <div class="button-bar">
            <button class="button button-clear icon ion-android-list" ng-click="openMyMallpoints()">
            </button>
            <button class="button button-clear icon ion-android-favorite-outline" ng-click="openFavorites()">
            </button>
            <button class="button button-clear icon ion-earth" ng-click="openNotifications()">
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
