<ion-view title="Settings">
    <ion-content>
        <div class="list">
            <ion-toggle ng-model="searchCircle.visible" toggle-class="toggle-assertive" ng-change="searchCircleChanged()">Show Search Circle</ion-toggle>
            <div class="item item-divider">
                Search Radius ({{ searchCircle.radius }})
            </div>
            <div class="item range range-assertive">
                50m <input type="range" name="volume" min="50" max="2000" value="300" ng-model="searchCircle.radius"> 2000m
            </div>
        </div>


    </ion-content>
</ion-view>
