<ion-view title="Sign Up">
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="You should provide a unique username">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="Your first name goes here">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="And this is the place for your last name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" placeholder="person@example.com">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Repeat Password</span>
                <input type="password" placeholder="">
            </label>
        </div>
    </ion-content>
</ion-view>
